* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    width: 100%;
}

img {
    width: 100%;
}

#portfolio img {
    transition: opacity 0.2s;
}

#portfolio img:hover {
    opacity: 0.7;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffec00;
    padding-top: 15px;
}

header {
    background-color: #ffec00;
    text-align: right;
    padding-top: 20px;
    height: 100vh;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    transition: border 0.2s;
}

header nav ul li a:hover {    
    border: solid 3px black;
}

div.capa {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header h1 {
    font-size: 65px;
    padding-right: 20px;
}

span.name {
    font-weight: 900;
}

header h2 {
    padding-right: 20px;  
    font-size: 18px;  
    padding-bottom: 15px;
}

.black {
    height: 20px;
    width: 100%;
    background-color: black;
}

/* About */
section#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#about h2 {
    text-align: center;
    padding: 20px;
    padding-top: 80px;
    font-size: 50px;
}

div.img-about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eu {
    width: 200px;  
    height: 200px;
    border-radius: 50%;
    border: black;
    border-style: solid;
    border-width: 5px;
}

div.quem {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div.quem h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

div.quem p {
    font-size: 20px;
    padding-bottom: 20px;
}

section#about h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

/* Barra de progresso */
div.skills ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

div.skills ul li label {
    font-weight: bold;
    cursor: pointer;
}

progress[value] {
    -webkit-appearance: none;
    width: 250px;
    height: 20px;
    cursor: pointer;
}

progress[value]::-webkit-progress-bar {
    background-color: #c5f2b6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #3cd709, #3cd709);
    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.skills {
    list-style: none;
    text-align: right;
    padding: 3px;
  }
  div.skills ul li {
      padding: 3px;
  }
  .exibe-skill {
      background-color: #ffeeee;
      border-radius: 15px;
      padding: 30px;
  }
/* Fim da Barra de progresso */

.presente h4 {
    padding-top: 20px;
}
.presente ul {
    padding: 10px;
}

.presente ul li {
    list-style-type: square;
    margin-top: 10px;
}

p.p-quote {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

p.p-quote a {
    text-decoration: none;
    font-weight: 900;
    color: black;
}
h4 {
    font-size: 30px;
    text-align: center;
}
div.card-ref {
    background-color: #1c1c1c;
    border-radius: 15px;
    margin: 20px;
    padding: 20px ;
    color: white;
    font-size: 25px;
    font-style: italic;
}

.quote {
    font-size: 40px;
    color: #ffec00;
}
p.assina {
    font-style: normal;
    font-size: 45px;
    text-align: right;
}

.btn-slide {
    display: flex;
    
}
.prev, .next {
    background-color: white;
    padding: 25px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    cursor: pointer;
  }

  .prev:hover, .next:hover {
      
      background-color: #fff782;
  }

/* Portfolio */
section#portfolio {
    
}
section#portfolio h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
    color: #ed127c;   
}


section#portfolio div p {
    font-size: 20px;   
    padding: 20px;
}

/* Contatos */
section#social {
    color: #81ca6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

section#social h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

section#social p.social {
    font-size: 20px;
    padding: 20px;
}

section#social nav {
    width: 100%;
}

section#social nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#social nav ul li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;    
}

section#social nav ul li a {
    padding: 30px;
    font-size: 46px;
    color: #81ca6a;
    transition: border 0.2s;
}

section#social nav ul li a:hover {
    color: #3cd709;
    border: solid 3px #3cd709;
}

div.assinatura {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

div.assinatura p.assinatura {
    font-size: 35px;
    font-weight: 900;
    color: #81ca6a;
}

div.assinatura p a.link-footer {
    text-decoration: none;
    color: #81ca6a;
    font-size: 20px;
    transition: font-weight 0.4s;
}

div.assinatura p a.link-footer:hover {
    text-decoration: none;
    color: #3cd709;
    font-weight: 900;
}
p.social {
    color: black;
    text-align: center;
}

/* Media Queries */
@media(min-width: 768px) {
    header {
        height: 300px;
    }
    .navbar {
        z-index: 1;
    }
    section#about div.fundo-about {
        background: url(/img/bcg2.jpg);
        background-size: cover;
        width: 100%;
        opacity: 0.9;
    }
    img.eu {
        display: none;
    }
    section#about div.quem {
        width: 700px;
        position: relative;
        left: 35%;
    }
    section#about div.quem h3 {
        color: #ffec00;
    }
    section#about div.quem p {
        color: white;
    }
    section#about h2 {
        color: #ffec00; 
        text-align: right;
        margin-right: 60px;
    }
    div.skills {
        display: flex;
    }
    div.exibe-skill {
        width: 50%;
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    div.tech1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    div.tech {
        display: flex;
        padding-top: 20px;
        justify-content: center;
    }
    div.card-ref {
        width: 50%;
        padding: 20px 40px;
    }
    section#social {
        padding: 0 50px;
    }
    .social1 {
        text-align: right;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
        align-items: flex-end;
    }
    div.social-card {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: baseline;
    }
    div.assinatura {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;   
    }
    div.assinatura p {
        font-size: 20px;
    }
    section#portfolio h2 {
        text-align: right;
        padding-right: 80px;
        padding-bottom: 80px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 4px;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        height: 100%;
        text-align: left;
        max-width: 25%;
        padding: 0 4px;
    }

    .presente {
        max-width: 600px;
        margin: 30px 0;
    }
    .presente ul li {
        margin-top: 10px;
    }
}





